{% load static %}

<div class="wrapperLogin">
    <div class="row d-flex justify-content-between align-items-center vh-100">
        <div class="col-8 loginImageContainer">
            <img src="{% static 'images/login.svg' %}" alt="astronaut image" class="img-fluid">
        </div>
        <div class="col-6 loginTextContainer">
            <div class="d-flex flex-column justify-content-around align-items-center text-center">
                <div class="internalLoginText">
                    <p>Ei, Viajante!</p>
                    <p>Embarque em uma</p>
                    <p>Aventura Inesquecível!</p>
                </div>
                <button type="button" class="btn btn-outline-light" id="loginButton">
                    <a href="{% url 'authentication:intra_login' %}">Login 42</a>
                </button>
            </div>
        </div>
    </div>
</div>