{% load static %}
{% load i18n %}
<div class="wrapperNav">
    <header>
        <nav class="navBar">
            <ul class="navList">
                <li class="navItem"><a href="/game/options" data-template="options.html">{% trans "Language" %}</a></li>
                <li class="navItem"><a href="/game/options" data-template="options.html">{% trans "Play" %}</a></li>
                <li class="navItem"><a href="/account" data-template="account.html">{% trans "Profile" %}</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapperMain">
        <div class="container customContainer">
            <div class="row">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <div class="customCircle greenCircle"></div>
                </div>
                <div class="col-8 d-flex align-items-center justify-content-center">
                    <div class="customButtonGroup">
                        <div class="buttonCircle"></div>
                        <div class="buttonCircle"></div>
                        <div class="buttonCircle"></div>
                        <div class="buttonCircle"></div>
                        <button class="btn btn-secondary">{% trans "Add" %}</button>
                    </div>
                </div>
            </div>
            <div class="row paddingAccount"></div>
            <div class="row mt-4">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <div class="customHistory">
                        <h2>{% trans "Match history" %}</h2>
                        <a href="#">{% trans "View more" %}</a>
                    </div>
                </div>
                <div class="col-8 d-flex align-items-center justify-content-center">
                    <div class="customStatistics">
                        <h2>{% trans "Statistics" %}</h2>
                        <a href="#">{% trans "View more" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>{% trans "Made by pong" %}</footer>
</div>
