{% load static %}
{% load i18n %}
<div class="wrapperNav d-flex flex-column justify-content-between">
    <header>
        <nav class="navBar">
            <ul class="navList">
                <div class="language-selector">
                    <select class="language-dropdown">
                        <option value="en" {% if language == 'en' %}selected{% endif %}>English</option>
                        <option value="br" {% if language == 'br' %}selected{% endif %}>Português</option>
                        <option value="es" {% if language == 'es' %}selected{% endif %}>Español</option>
                        <option value="fr" {% if language == 'fr' %}selected{% endif %}>Français</option>
                        <!-- More languages here -->
                    </select>
                </div>
                <li class="navItem"><a href="/game/options" data-template="options.html">{% trans "Play" %}</a></li>
                <li class="navItem"><a href="/account" data-template="account.html">{% trans "Profile" %}</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapperMain">
        <div class="container customContainer">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <div class="customCircle" style="background-image: url('{{ profile_picture_url }}');">
					<!--Image-->
					</div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-2">
                    <div class="customStatistics">
                        <h2>{% trans "Statistics" %}</h2>
                        <a href="#">{% trans "See More" %}</a>
                    </div>
                </div>
        </div>
    </div>
    <footer>{% trans "Made by pong" %}</footer>
</div>