{% load static %}
{% load i18n %}
<div class="wrapperNav d-flex flex-column justify-content-between">
    <header>
        <nav class="navBar">
            <ul class="navList">
				<div class="language-selector">
                    <select class="language-dropdown">
                        <option value="en" {% if language == 'en' %}selected{% endif %}>English</option>
                        <option value="br" {% if language == 'br' %}selected{% endif %}>Português</option>
                        <option value="es" {% if language == 'es' %}selected{% endif %}>Español</option>
                        <option value="fr" {% if language == 'fr' %}selected{% endif %}>Français</option>
                    </select>
                </div>
                <li class="navItem"><a href="/account" data-template="account.html">{% trans "Profile" %}</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <div class="outterDiv d-flex justify-content-between align-items-center">
            <div class="col-6">
                <div class="d-flex flex-column justify-content-around align-items-center text-center">
                    <button id="singleGameButton" class="gameScreenButton btn btn-outline-success" data-toggle="modal" data-target="#singleGameModal">{% trans "Single Game" %}</button>
                    <button id="tournamentButton" class="gameScreenButton btn btn-outline-success" data-toggle="modal" data-target="#tournamentModal">{% trans "Tournament" %}</button>
                </div>
            </div>
            <div class="col-6 gameImageContainer">
                <img src="{% static 'images/pong_high.png' %}" alt="Fun pong image">
            </div>
        </div>
    </div>
    <footer>Made by pong</footer>
</div>

<!-- Single Game Modal -->
<div id="singleGameModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="singleGameModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="singleGameModalLabel">{% trans "Single Game Configuration" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
					<div class="form-group d-flex align-items-center justify-content-between mb-2">
						<label for="gameMode">{% trans "Game Mode:" %}</label>
						<div>
							<input type="radio" id="pve" name="gameMode" value="PVE" checked>
                            <label for="pve">PVE</label>
                        </div>
                        <div>
							<input type="radio" id="pvp" name="gameMode" value="PVP">
                            <label for="pvp">PVP</label>
                        </div>
						<div>&#9</div>
                    </div>
                    <div class="form-group">
                        <label for="playerOneName">{% trans "Player 1:" %}</label>
                        <input type="text" class="form-control bg-dark text-white mb-2" id="playerOneName" name="playerOneName" required>
                    </div>
                    <div class="form-group" id="playerTwoNameContainer" style="display: none;">
                        <label for="playerTwoName">{% trans "Player 2:" %}</label>
                        <input type="text" class="form-control bg-dark text-white mb-2" id="playerTwoName" name="playerTwoName">
                    </div>
                    <div class="form-group">
                        <label for="skin">{% trans "Choose Map Skin:" %}</label>
                        <select class="form-control bg-dark text-white mb-4" id="skin" name="skin">
                            <option value="map1">{% trans "Map 1" %}</option>
                            <option value="map2">{% trans "Map 2" %}</option>
                            <option value="map3">{% trans "Map 3" %}</option>
                        </select>
                    </div>
                    <button id="submitSingleGame" type="button" data-dismiss="modal" class="btn btn-outline-light">{% trans "Start Game" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Tournament Modal -->
<div id="tournamentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tournamentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="tournamentModalLabel">Tournament Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row d-flex align-items-center justify-content-around gap-3">
                        <div class="form-group col-5">
                            <label for="playerOneName">Player 1 Name:</label>
                            <input type="text" class="form-control bg-dark text-white mb-2" id="playerOneName" name="playerOneName" value="{{ username }}" readonly>
                        </div>
                        <div class="form-group col-5">
                            <label for="playerTwoName">Player 2 Name:</label>
                            <input type="text" class="form-control bg-dark text-white mb-2" id="playerTwoName" name="playerTwoName" required>
                        </div>
                    </div>
                    <div class="form-row d-flex align-items-center justify-content-around gap-3">
                        <div class="form-group col-5">
                            <label for="playerThreeName">Player 3 Name:</label>
                            <input type="text" class="form-control bg-dark text-white mb-2" id="playerThreeName" name="playerThreeName" required>
                        </div>
                        <div class="form-group col-5">
                            <label for="playerFourName">Player 4 Name:</label>
                            <input type="text" class="form-control bg-dark text-white mb-2" id="playerFourName" name="playerFourName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="skin">{% trans "Choose Map Skin:" %}</label>
                        <select class="form-control bg-dark text-white mb-4" id="skin" name="skin">
                            <option value="map1">{% trans "Map 1" %}</option>
                            <option value="map2">{% trans "Map 2" %}</option>
                            <option value="map3">{% trans "Map 3" %}</option>
                        </select>
                    </div>
                    <button id="submitTournament" type="button" class="btn btn-outline-light buttonTournament" data-dismiss="modal">{% trans "Start Tournament" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
