{% load static %}
<div class="wrapperNav">
	<header>
		<nav class="navBar">
			<ul class="navList">
				<li class="navItem"><a href="/account" data-template="account.html">Account</a></li>
				<li class="navItem"><a href="/options" data-template="options.html">Game</a></li>
			</ul>
		</nav>
	</header>
	<div>
		<div class="outterDiv d-flex justify-content-between align-items-center">
			<div class="col-6">
				<div class="d-flex flex-column justify-content-around align-items-center text-center">
					<button id="singleGameButton" class="gameScreenButton btn btn-light" data-toggle="modal" data-target="#singleGameModal">Single Game</button>
					<button id="tournamentButton" class="gameScreenButton btn btn-light" data-toggle="modal" data-target="#tournamentModal">Tournament</button>
				</div>
			</div>
			<div class="col-6 gameImageContainer">
				<img src="{% static 'images/game.png' %}" alt="Fun pong image">
			</div>
		</div>
	</div>
	<footer>Made by pong</footer>
</div>

<!-- Single Game Modal -->
<div id="singleGameModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="singleGameModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-dark text-white">
			<div class="modal-header">
				<h5 class="modal-title" id="singleGameModalLabel">Single Game Configuration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Add your form or configuration inputs here -->
				<form>
					<div class="form-group">
						<label for="playerOneName">Player 1:</label>
						<input type="text" class="form-control bg-dark text-white mb-2" id="playerOneName" name="playerOneName" required>
					</div>
					<div class="form-group">
						<label for="playerTwoName">Player 2:</label>
						<input type="text" class="form-control bg-dark text-white mb-2" id="playerTwoName" name="playerTwoName" required>
					</div>
					<div class="form-group">
						<label for="skin">Choose map skin:</label>
						<select class="form-control bg-dark text-white mb-4" id="skin" name="skin">
							<option value="easy">Skin 1</option>
							<option value="medium">Skin 2</option>
							<option value="hard">Skin 3</option>
						</select>
					</div>
					<button id="submitSingleGame" type="button" data-dismiss="modal" class="btn btn-outline-light">Start Game</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Tournament Modal -->
<div id="tournamentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tournamentModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-dark text-white">
			<div class="modal-header">
				<h5 class="modal-title" id="tournamentModalLabel">Tournament Configuration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Add your form or configuration inputs here -->
				<form>
					<div class="form-group">
						<label for="teamName">Team Name:</label>
						<input type="text" class="form-control bg-dark text-white mb-2" id="teamName" name="teamName" required>
					</div>
					<div class="form-group">
						<label for="numberOfTeams">Number of Teams:</label>
						<input type="number" class="form-control bg-dark text-white mb-4" id="numberOfTeams" name="numberOfTeams" required>
					</div>
					<button id="submitTournament" type="button" class="btn btn-outline-light">Start Tournament</button>
				</form>
			</div>
		</div>
	</div>
</div>