.wrapperMain {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
}

.customContainer {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customTitle {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.customCircle {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.greenCircle {
    background-color: #004d00;
}

.buttonCircle {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    background-color: #444;
}

.customNotifications {
    text-align: right;
    color: white;
    margin-top: 20px;
}

.customStatistics {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62vh;
    width: 50vw;
    margin: 10px;
    overflow-y: auto;
	font-size: large;
}

.statsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.statLabel {
    font-weight: bold;
    margin-bottom: 5px;
}

.statValue {
    font-size: 1.2em;
    color: #ffffff;
}

.statValueVic {
	font-size: 1.2em;
    color: #75ff75;
	font-weight: bold;
}

.statValueLos {
	font-size: 1.2em;
    color: #ff4040;
	font-weight: bold;
}

.customStatistics a {
    color: #00ff00;
    text-decoration: none;
    margin-top: 20px;
}

/* Hide scrollbar but allow scrolling */
.customHistory {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 62vh;
    width: 20vw;
    margin: 10px;
    overflow-y: auto;
	font-size: large;
}

.customHistory::-webkit-scrollbar {
    display: none;
}

.customHistory {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.customStatistics a, .customHistory a {
    color: white;
    text-decoration: none;
    color: rgb(200, 200, 200);
}

h2 {
    color: white;
}

.matchEntry {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly lighter background */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding inside the card */
    margin-bottom: 10px; /* Space between cards */
    color: white;
}

.matchEntry p {
    margin: 0; /* Remove default margin */
	
}

.matchEntry p.date {
    font-weight: bold; /* Bold date */
    margin-bottom: 5px; /* Space below date */
}

.matchEntry span.player {
    margin-bottom: 5px; /* Space below player details */
	font-weight: bold;
}

.wrapperAccount {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.canvasChart {
    display: block;
	margin: 0 5px;
    border-radius: 10px;
	width: 50%;
}

.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.colorSquare {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border: 1px solid #000; /* Optional: border for better visibility */
    vertical-align: middle; /* Aligns the squares with the text */
}

.canvasChart label {
	font-weight: bold;
}

.barChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
}

.barChart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1px;
}

.bar {
    width: 20%;
    margin: 0 10px;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.barLabel {
    position: absolute;
    bottom: -25px;
    font-size: 30px;
}

#aiBar {
    background-color: #318b87; /* Green for AI */
}

#othersBar {
    background-color: #c1c36f; /* Red for Others */
}