.wrapperMain {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.customContainer {
    padding: 20px;
    width: 100vw;
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.customTitle {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.customCircle {
    width: 20vh; /* Adjusted size */
    height: 20vh; /* Adjusted size */
    border-radius: 50%;
    overflow: hidden; /* Ensures the image does not overflow the container */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Ensures the image covers the container without distortion */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Ensures the image does not repeat */
    background-color: #ccc; /* Optional: for better visibility during loading */
}

.greenCircle {
    background-color: #004d00; /* Green color */
}

.customButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1); /* Background for visual separation */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
	width: 58vw;
	height: 15vh;
}

.buttonCircle {
    width: 12vh; /* Size of the small circles */
    height: 12vh; /* Size of the small circles */
    border-radius: 50%;
    background-color: #444; /* Gray color */
}

.customNotifications {
    text-align: right;
    color: white;
    margin-top: 20px; /* Added margin */
}

.customStatistics {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.7); /* Black color */
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
	width: 35vw;
    margin: 10px;
}

.customStatistics a {
	color: rgb(200, 200, 200);
}

h2 {
    color: white;
}