.outterDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 90vh;
	border: 1px;
	border-radius: 1rem;
	border-style: solid;
	background-color: #142a3b;
	border-color: #274864;
}

.gameImageContainer img {
	width: 100%;
	height: 90vh;
	border-radius: 1rem;
}

.gameScreenButton {
	border: 0.2rem;
	border-style: solid;
	border-radius: 0.6rem;
	border-color: #b76100;
	background-color: #362500;
	width: 40%;
	margin: 1rem;
	padding: 1rem;
	color: white;
}