.loginImageContainer {
	max-width: 55%;
	overflow: hidden;
}

.loginImageContainer img {
	width: 100%;
	max-height: 100vh;
}

.loginTextContainer {
	max-width: 45%;
}

.loginTextContainer p {
	font-size: 2.5rem;
	margin-bottom: 0.2rem;
}

.loginTextContainer button {
	font-size: 2rem;
	width: 47%;
	border-radius: 0.7rem;
	padding: 0.1rem;
}

.internalLoginText {
	margin-bottom: 4rem;
	margin-top: -4rem;
}

.wrapperLogin {
	height: 100%;
	overflow: hidden;
}

.loginTextContainer a {
	text-decoration: none;
	color: white;
}
#loginButton {
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
}

.languageSetter {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1rem;
	margin-right: 1rem;
	text-decoration: none;
}
