.outterDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 87vh;
}

.gameImageContainer img {
	width: 100%;
	height: 88vh;
	border-radius: 1rem;
}

.gameScreenButton {
	border: 0.2rem;
	border-style: solid;
	border-radius: 0.6rem;
	border-color: #46d71a;
	background-color: #00360c;
	width: 40%;
	margin: 1rem;
	padding: 1rem;
	color: white;
}

.buttonTournament {
	margin-left: 35%;
}